<body class="notAwful">
    <img src="{{name}}">
    <h2>{{name}}</h2>
    <h4>Favourite topic: {{favourite}}</h4>
    <h4>Least favourite topic: {{leastFavourite}}</h4>
    <button type="button" onclick="">Edit</button>
</body>