/* fake_home styling */
.awful {
  background-color: rgb(203, 50, 134);
  text-align: center;
  font-family: "Comic Neue", cursive;
  margin: 25%;
}

.awful h1 {
  color: rgb(221, 63, 150);
}

.awful h2 {
  color: rgb(208, 89, 154);
}

.awful h3 {
  color: rgb(209, 107, 163);
}

.awful h4 {
  color: rgb(203, 108, 160);
}

.awful a {
  color: limegreen;
  text-decoration: none;
}

/* REAL_home styling */
.notAwful {
  background-color: #f4f6f3;
  font-family: "Karla", sans-serif;
  text-align: center;
  margin: 0;
}

.notAwful img {
    width: 300px;
    margin-top: 20px;
}

.container {
  display: block;
  background-color: #6a9fc8;
  width: 80%;
  margin: 20px 10%;
  border-radius: 10px;
}

.subcontainer {
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-color: #143642;
  width: 20%;
  margin: 2%;
  background-color: #f4f6f3;
  border-radius: 3%;
}

.subcontainer img {
  display: block;
  width: 90%;
  margin: 10px;
  border-radius: 5px;
}

header {
  text-align: center;
}

.simple {
  text-decoration: none;
}

.simple:hover {
  text-decoration: underline;
}

.profile {
    background-color:#92dbc6;
    margin: 20px 20%;
    padding: 20px;
}

button {
    display: block;
    float: center;
    padding: 0.5em 3em;
    border: 0.16em solid #656969;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    color: #656969;
    text-align: center;
    background-color: #92dbc6;
}

input {
  display: block;
  float: center;
  padding: 0.5em 3em;
  border: 0.16em solid #656969;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: #656969;
  text-align: center;
  background-color: #92dbc6;
}
