<body class="awful">
    <h1>W3LC0ME T0 0UR W3B APP</h1>
    <h2>FEA$T Y0UR 3Y3$ 0N THI$</h2>
    <h3>B3AUTY 0F A W3B$ITE</h3>
    <h4>PL3A$E 3NJ0Y</h4>
    <p>
        P.$. You're welcome...
    </p>
</body>